<!-- ヘッダーの呼び出し -->
<%= render "layouts/header" %>

<!-- 会員情報入力フォーム -->
<div class ="container">
<span class="sentence_backcolor" >&nbsp;&nbsp;&nbsp;新規会員登録&nbsp;&nbsp;&nbsp;</span>

<!-- 名前とフリガナ -->
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "customers/shared/error_messages", resource: resource %>

  <%= f.label :名前 %><br />
    <div class ="row">
      <div class="col-sm-6">
        <p>(姓) <%= f.text_field :last_name %></p>
      </div>
      <div class="col-sm-6">
        <p>(姓) <%= f.text_field :first_name %></p>
      </div>
    </div>

  <%= f.label :フリガナ %><br />
    <div class ="row">
      <div class="col-sm-6">
        <p>(セイ) <%= f.text_field :last_name_phonetic %></p>
      </div>
      <div class="col-sm-6">
        <p>(メイ) <%= f.text_field :first_name_phonetic %></p>
      </div>
    </div>


<!-- メールアドレス -->
  <div class="field">
    <%= f.label :メールアドレス %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

<!-- 郵便番号 -->
  <div class="field">
    <%= f.label :郵便番号%><br />
    <%= f.text_field :postal_code %>
  </div>

<!-- 住所 -->
<div class="row">
  <div class="col-xs-6">
    <%= f.label :住所%><br />
    <%= f.text_field :address, class:"form-control" %>
  </div>
</div>

<!-- 電話番号 -->
  <div class="field">
    <%= f.label :電話番号%><br />
    <%= f.text_field :phone_number %>
  </div>

<!-- パスワード入力 -->
  <div class="field">
    <%= f.label :パスワード %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> 文字以上)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

<!-- パスワード確認 -->
  <div class="field">
    <%= f.label :パスワード確認用 %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "新規登録", class:"btn btn-success" %>
  </div>
<% end %>

<span class="sentence_backcolor">&nbsp;&nbsp;&nbsp;すでに登録済みの方&nbsp;&nbsp;&nbsp;</span>
 <div><%= link_to "こちら", new_session_path(resource_name) %><span>       から新規登録を行なってください。</span></div>


