<!-- ヘッダーの呼び出し -->
<%= render "layouts/header" %>
<br>
<div class ="container">
  <div class ="row">
    <div class="col-xs-offset-1 col-xs-5">
    <span class="sentence_backcolor" >&nbsp;&nbsp;&nbsp;管理者登録&nbsp;&nbsp;&nbsp;</span>


    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "admins/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :メールアドレス %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :パスワード %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> 文字以上)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>

      <div class="field">
        <%= f.label :パスワード確認用 %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

      <div class="actions">
        <%= f.submit "新規登録", class:"btn btn-success" %>
      </div>
    <% end %>

    <span class="sentence_backcolor">&nbsp;&nbsp;&nbsp;すでに登録済みの方&nbsp;&nbsp;&nbsp;</span>
     <div><%= link_to "こちら", new_session_path(resource_name) %><span>からログインを行なってください。</span></div>
   </div>
  </div>
</div>
