<!-- ヘッダーの呼び出し -->
<%= render "layouts/admin_header" %>

<!-- 会員情報編集フォーム -->
<div class ="container">
<span class="sentence_backcolor" ><%= @customer.last_name %><%= @customer.first_name %>さんの会員情報編集</span>
<br>
<br>
<%= form_for([:admin, @customer]) do |f| %>

  <%= f.label :会員ID %><br />
    <div class ="row">
      <div class="col-sm-3">
        <%= @customer.id %>
      </div>
  </div>
  <br>

<!-- 名前とフリガナ -->
  <%= f.label :名前 %><br />
    <div class ="row">
      <div class="col-sm-3">
        <p>&nbsp;&nbsp;&nbsp;&nbsp;(姓) <%= f.text_field :last_name %></p>
      </div>
      <div class="col-sm-3">
        <p>&nbsp;&nbsp;&nbsp;&nbsp;(名) <%= f.text_field :first_name %></p>
      </div>
    </div>
  <br>

  <%= f.label :フリガナ %><br />
    <div class ="row">
      <div class="col-sm-3">
        <p>(セイ) <%= f.text_field :last_name_phonetic %></p>
      </div>
      <div class="col-sm-3">
        <p>(メイ) <%= f.text_field :first_name_phonetic %></p>
      </div>
    </div>
  <br>

<!-- 郵便番号 -->
  <div class="field">
    <%= f.label :郵便番号%><br />
    <%= f.text_field :postal_code %>
  </div>
  <br>

<!-- 住所 -->
<div class="row">
  <div class="col-xs-6">
    <%= f.label :住所%><br />
    <%= f.text_field :self_address, class:"form-control" %>
  </div>
</div>
  <br>

<!-- 電話番号 -->
  <div class="field">
    <%= f.label :電話番号%><br />
    <%= f.text_field :phone_number %>
  </div>
  <br>

<!-- メールアドレス -->
  <div class="field">
    <%= f.label :メールアドレス %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>
  <br>

<!-- 会員ステータス -->
  <div class="field">
    <%= f.label :会員ステータス %><br />
	<%= f.radio_button :is_deleated, :false %> 有効 <%= f.radio_button :is_deleated, :true %> 退会済み
  </div>

<br>
  <div class="actions">
  	<div class ="row">
  		<div class="col-sm-3">
    	<%= f.submit "変更を保存する", class:"btn btn-primary" %>
    	</div>
    </div>
  </div>
<% end %>