<!-- ヘッダーの呼び出し -->
<%= render "layouts/header" %>

<!-- 会員情報編集フォーム -->
<div class ="container">
<span class="sentence_backcolor" >&nbsp;&nbsp;&nbsp;登録情報編集&nbsp;&nbsp;&nbsp;</span>

<div class ="row">
  <div class="col-offset-1">
    <table class="customer_edit_table">
    <%= form_for(@customer) do |f| %>
      <tr>
        <td class="col-md-3">名前</td>
        <td>(姓)</td>
        <td><%= f.text_field :last_name %></td>
        <td>(名)</td>
        <td><%= f.text_field :first_name %></td>
      </tr>

      <tr>
        <td class="col-md-3">フリガナ</td>
        <td>(セイ)</td>
        <td><%= f.text_field :last_name_phonetic %></td>
        <td>(メイ)</td>
        <td><%= f.text_field :first_name_phonetic %></td>
      </tr>

      <tr>
        <td class="col-md-3">メールアドレス</td>
        <td></td>
        <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
        <td></td>
        <td></td>
      </tr>

      <tr>
        <td class="col-md-3">郵便番号</td>
        <td></td>
        <td><%= f.text_field :postal_code %></td>
        <td></td>
        <td></td>
      </tr>

      <tr>
        <td class="col-md-3">住所</td>
        <td></td>
        <td><%= f.text_field :self_address, class:"address_form" %></td>
        <td></td>
        <td></td>
      </tr>

      <tr>
        <td class="col-md-3">電話番号</td>
        <td></td>
        <td><%= f.text_field :phone_number %></td>
        <td></td>
        <td></td>
      </tr>

</table>
<br>
  <div class="actions">
  	<div class ="row">
  		<div class="col-sm-3">
    	<%= f.submit "編集内容を保存する", class:"btn btn-primary" %>
    	</div>
    	<div class="col-sm-3">
    	<%= link_to "退会する",customers_goodbye_path, class:"btn btn-danger" %>
		  </div>
    </div>
  </div>
<% end %>


