<!-- ヘッダーの呼び出し -->
<%= render "layouts/header" %>

<div class="contaniner">

	<div class="row">
		<div class="col-md-offset-2">
		<span class="sentence_backcolor">注文情報入力</span>
		</div>
	</div>

	<!-- 注文情報入力フォーム -->
	<div class="row">
		<div class="col-md-offset-1 col-md-8">
		<%= form_for @order, :url => {action:"confirm"} do |f| %>

	        <!-- 支払い方法 -->
			<div class ="row">
			    <div class="col-md-3">
			        <p>支払い方法</p>
			    </div>
			    <div class="col-md-5">
			        	<%= f.radio_button :how_to_pay, "クレジットカード", checked: "checked" %>クレジットカード<br>
			        	<%= f.radio_button :how_to_pay, "銀行振込" %>銀行振込
			    </div>
			</div><br>

			<!-- お届け先 -->
			<div class ="row">
			    <div class="col-md-3">
			        <p>お届け先</p>
			    </div>

			    <div class="col-md-5">
			    		<!-- 自身の住所 -->
			        	<%= radio_button_tag :select_address, "自身の住所", checked: "checked" %>ご自身の住所<br>
			        	<%= current_customer.postal_code %>
			        	<%= current_customer.self_address %>
			        	<%= current_customer.last_name %>
			        	<%= current_customer.first_name %>
			        	<!-- hidden_field_tagを使う -->
			        	<%= hidden_field_tag :postal_code, current_customer.postal_code %>
			        	<%= hidden_field_tag :self_address, current_customer.self_address %>
			        	<%= hidden_field_tag :last_name, current_customer.last_name %>
			        	<%= hidden_field_tag :first_name, current_customer.first_name %>
			        	<br>
			        	<!-- 登録済の住所 -->
			        	<%= radio_button_tag :select_address, "登録済住所" %>登録済住所から選択<br>
			        		<%= f.collection_select(:id, @addresses, :id, :all_address) %>
			        	<br>
			        	<!-- 新しいお届け先 -->
			        	<%= radio_button_tag :select_address, "新しい住所" %>新しいお届け先<br>
			        		<p>郵便番号(ハイフンなし)</p><%= f.text_field :postal_code %>
			        		<p>住所</p><%= f.text_field :address %>
			        		<p>宛名</p><%= f.text_field :name %>
			    </div>
			</div>

			<!-- 送信ボタン -->
			<div class ="row">
				<div class="col-md-offset-8 col-md-1">
					<div class="actions">
			    	<p><%= f.submit "確認画面へ進む", class:"btn btn-primary" %></p>
			  		</div>
				</div>
			</div>

		<% end %>
		</div>
	</div>

</div>


<footer>
</footer>



