<!-- ヘッダーの呼び出し -->
<%= render "layouts/header" %>

<div class="contaniner">

	<div class="row">
		<div class="col-md-offset-1 col-md-2">
		<span class="sentence_backcolor">配送先編集</span>
		</div>
	</div>


	<!-- 配送先編集フォーム -->
	<div class="row">
		<div class="col-md-offset-3 col-md-5">
		<%= form_for(@address) do |f| %>

	        <!-- 郵便番号 -->
			<div class ="row">
			    <div class="col-md-5">
			        <p>郵便番号(ハイフンなし)</p>
			    </div>
			    <div class="col-md-2">
			        <%= f.text_field :postal_code %>
			    </div>
			</div>

	        <!-- 住所 -->
			<div class ="row">
			    <div class="col-md-5">
			        <p>住所</p>
			    </div>
			    <div class="col-md-2">
			        <%= f.text_area :address %>
			    </div>
			</div>

	        <!-- 宛名 -->
			<div class ="row">
			    <div class="col-md-5">
			        <p>宛名</p>
			    </div>
			    <div class="col-md-2">
			        <%= f.text_field :name %>
			    </div>
			</div>
            <br>
			<!-- 送信ボタン -->
			<div class ="row">
				<div class="col-md-offset-7 col-md-1">
					<div class="actions">
			    	<p><%= f.submit "編集する", class:"btn btn-primary" %></p>
			  		</div>
				</div>
			</div>

		<% end %>
    	</div>
	</div>

</div>