<!-- ヘッダーの呼び出し -->
<%= render "layouts/header" %>

<div class="container">
	<div class="row">
			<% @items.each do |item| %>
				<div class="col-md-4">
				<div class="item_contents">
				    <div><%= attachment_image_tag item, :image, :fill, 300, 200, format:'jpeg', fallback: "no_image.jpg", size: '300x200' %></div>
					<div><%= link_to item_path(item.id) do %><%= item.product_name %><% end %></div>
					<div><%= item.price %>円</div>
				</div>
				</div>
			<% end %>
	</div>
</div>